<h2>Aca se pueden ver los precios</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni dolores tempora, ex sapiente animi blanditiis vero,
    ipsam suscipit, aliquid quae laborum sequi iusto architecto quam recusandae quod ipsa ab sed?</p>