<h2>Aca podemos ver las promociones disponibles</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla dolores saepe a quia accusamus blanditiis officia
    maxime sint quas, aut dicta esse nemo dolorem! Dolor molestias nulla praesentium! Nostrum, dolores!</p>